  <div class="row">
    <div class="col-md-6 offset-md-3 print_hide">
        <h3>Get Quatation</h3>
        <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="w-100">
              <input matInput placeholder="Invoice No:" formControlName="invoice_no">
          </mat-form-field>
          <mat-form-field class="w-50">
              <input matInput placeholder="Comapany Name:" formControlName="company">
          </mat-form-field>
          <mat-radio-group class="w-50" formControlName="comapny_register">
              <mat-radio-button value="register">Register</mat-radio-button>
              <mat-radio-button value="unregister">Unregister</mat-radio-button>
          </mat-radio-group>
          <mat-form-field class="w-50" *ngIf="gst_no_edit">
              <input matInput placeholder="GST No:" formControlName="gst_no">
          </mat-form-field>
          <mat-form-field [ngClass]="gst_no_edit ? 'w-50' : 'w-100'">
              <input matInput placeholder="Date:" formControlName="date">
          </mat-form-field>
         <mat-form-field>
            <mat-select placeholder="Select Cards" formControlName="card">
              <mat-option *ngFor="let card of admin.cards" [value]="card">
                {{card.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-30">
              <input matInput placeholder="Quantity" formControlName="card_q">
          </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Select Holders" formControlName="holder">
              <mat-option *ngFor="let holder of admin.holders" [value]="holder">
                {{holder.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-30">
              <input matInput placeholder="Quantity" formControlName="holder_q">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select Lanyards" formControlName="lanyard">
              <mat-option *ngFor="let lanyard of admin.lanyards" [value]="lanyard">
                {{lanyard.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-30">
              <input matInput placeholder="Quantity" formControlName="lanyard_q">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-select placeholder="Select Location" formControlName="location">
              <mat-option *ngFor="let location of admin.locations" [value]="location">
                {{location.state}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-100">
              <input matInput placeholder="Discount" formControlName="discount">
          </mat-form-field>
          <div class="btn-group">
            <button [disabled]="!invoiceForm.valid" type="submit" class="btn btn-primary">Submit</button>
            <button class="btn btn-warning" (click)="onCancel()">Cancel</button>
          </div>
          </form>
      </div>
      <div class="col-md-12">
          <h3>Tax Invoice</h3>
          <table class="table">
              <thead>
                <tr>
                  <td colspan="4" [innerHTML]="admin.company_detail">
                  </td>
                  <td colspan="3" [innerHTML]="admin.company_contact">
                  </td>
                </tr>
                <tr>
                  <td colspan="4">Comapny: {{invoiceForm.value.company}}</td>
                  <td colspan="3">Invoice No.	{{invoiceForm.value.invoice_no}}</td>
                </tr>
                <tr>
                  <td colspan="4" *ngIf="!gst_no_edit"></td>
                  <td colspan="4" *ngIf="gst_no_edit">GST No: {{invoiceForm.value.gst_no}}</td>
                  <td colspan="3">Date.: {{invoiceForm.value.date}}</td>
                </tr>
                <tr>
                  <th>S.No.</th>
                  <th>Description</th>
                  <th>HSN</th>
                  <th>Quantity</th>
                  <th>Rate</th>
                  <th colspan="2" class="text-right">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>{{invoiceForm.value.card.viewValue}} <br> 
                    <ul class="small">
                      <li *ngFor="let des of invoiceForm.value.card.desc">{{des.des}}</li>
                    </ul>
                  </td>
                  <td></td>
                  <td>{{invoiceForm.value.card_q}}</td>
                  <td>{{invoiceForm.value.card.price}}</td>
                  <td colspan="2" class="text-right">{{invoiceForm.value.card_q * invoiceForm.value.card.price}}</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>{{invoiceForm.value.holder.viewValue}} <br> 
                    <ul class="small">
                      <li *ngFor="let des of invoiceForm.value.holder.desc">{{des.des}}</li>
                    </ul>
                  </td>
                  <td></td>
                  <td>{{invoiceForm.value.holder_q}}</td>
                  <td>{{invoiceForm.value.holder.price}}</td>
                  <td colspan="2" class="text-right">{{invoiceForm.value.holder_q * invoiceForm.value.holder.price}}</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>{{invoiceForm.value.lanyard.viewValue}} <br> 
                    <ul class="small">
                      <li *ngFor="let des of invoiceForm.value.lanyard.desc">{{des.des}}</li>
                    </ul>
                  </td>
                  <td></td>
                  <td>{{invoiceForm.value.lanyard_q}}</td>
                  <td>{{invoiceForm.value.lanyard.price}}</td>
                  <td colspan="2" class="text-right">{{invoiceForm.value.lanyard_q * invoiceForm.value.lanyard.price}}</td>
                </tr>
                <tr *ngIf="discount_edit">
                  <th colspan="5">Discount Price</th>
                  <th colspan="2" class="text-right">{{discount}}</th>
                </tr>
                <tr>
                  <th colspan="5">Total before tax</th>
                  <th colspan="2" class="text-right">{{priceBeforeTax}}</th>
                </tr>
                <tr *ngIf="location_edit">
                  <th>S.No.</th>
                  <th colspan="2" class="text-center">CGST</th>
                  <th colspan="2" class="text-center">SGST</th>
                  <th colspan="2"></th>
                </tr>
                <tr *ngIf="location_edit">
                  <td></td>
                  <td>Rate</td>
                  <td>Amount</td>
                  <td>Rate</td>
                  <td>Amount</td>
                  <td colspan="2"></td>
                </tr>
                <tr *ngIf="location_edit">
                  <td>1</td>
                  <td>9%</td>
                  <td>{{card_gst}}</td>
                  <td>9%</td>
                  <td>{{card_gst}}</td>
                  <td colspan="2"></td>
                </tr>
                <tr *ngIf="location_edit">
                  <td>2</td>
                  <td>9%</td>
                  <td>{{holder_gst}}</td>
                  <td>9%</td>
                  <td>{{holder_gst}}</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="location_edit">
                  <td>3</td>
                  <td>9%</td>
                  <td>{{lanyard_gst}}</td>
                  <td>9%</td>
                  <td>{{lanyard_gst}}</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="!location_edit">
                  <th>S.No.</th>
                  <th class="text-center">IGST</th>
                  <th colspan="5"></th>
                </tr>
                <tr *ngIf="!location_edit">
                  <td></td>
                  <td>Rate</td>
                  <td colspan="5">Amount</td>
                </tr>
                <tr *ngIf="!location_edit">
                  <td>1</td>
                  <td>18%</td>
                  <td colspan="5">{{card_igst}}</td>
                </tr>
                <tr *ngIf="!location_edit">
                  <td>2</td>
                  <td>18%</td>
                  <td colspan="5">{{holder_igst}}</td>
                </tr>
                <tr *ngIf="!location_edit">
                  <td>3</td>
                  <td>18%</td>
                  <td colspan="3">{{lanyard_igst}}</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="location_edit">
                  <th colspan="2">Total Tax</th>
                  <th>{{(card_gst + holder_gst + lanyard_gst).toFixed(2)}}</th>
                  <th></th>
                  <th>{{(card_gst + holder_gst + lanyard_gst).toFixed(2)}}</th>
                  <th></th>
                  <th class="text-right">{{total_tax.toFixed(2)}}</th>
                </tr>
                <tr *ngIf="!location_edit">
                  <th colspan="2">Total Tax</th>
                  <th>{{(card_igst + holder_igst + lanyard_igst).toFixed(2)}}</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th class="text-right">{{total_tax.toFixed(2)}}</th>
                </tr>
                <tr>
                  <th colspan="6">Gross Total</th>
                  <th class="text-right">{{gross_total.toFixed()}}</th>
                </tr>
                </tbody>
              </table>
              <p>&nbsp;</p>
      </div>
  </div>